@import "utilities/variables";
.project {
  display: inline-flex;
  background: $tile-color;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 0 0 3px $text-color;
  @include breakpoint(mdm) {
    flex-direction: row;
  }
  transition: 0.3s ease all;
  width: 100%;
  &:hover {
    box-shadow: 0 0 10px $text-color;
  }
}

.project-meta {
  display: flex;
  @include breakpoint(mdm) {
    flex-direction: column;
  }
  transition: 0.3s ease all;
  &.inverted {
    flex-direction: row-reverse;
    @include breakpoint(mdm) {
      flex-direction: column;
    }
  }
}

.project-image {
  height: 230px;
  margin: 10px;
  box-shadow: 0 0 3px $text-color;
  max-width: 100%;
  @include breakpoint(mdm) {
    height: auto;
  }
  transition: 0.3s ease all;
}

.project-details {
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.project-desc {
  line-height: 20px;
  white-space: pre-line;
  margin-block-start: 0;
}

.project-title {
  margin-block-end: 0;
}

.project-techs {
  display: flex;
  height: 70px;
  padding: 10px;
  > div {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  @include breakpoint(mdm) {
    border-top: unset;
    flex-direction: column;
    height: unset;
  }
  transition: 0.3s ease all;
}

.project-actions {
  > a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
