@import "utilities/variables";
.social-button-container {
  display: inline-flex;
  background-color: $dark;
  color: $light;
  padding: 0.8rem;
  border-radius: 0.8rem;
  text-decoration: none;
  max-height: 19px;
  height: 19px;
  .social-button-title {
    margin-left: 0.4rem;
    top: 0.2rem;
    position: relative;
  }
  &:hover {
    border: solid 0.2rem $dark;
    padding: 0.6rem;
    background-color: $light;
    color: $dark;
  }
}
