@import "utilities/variables";

.tech-badge-container {
  display: inline-flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1rem 0.8rem;
  align-items: center;
  .tech-title {
    padding-top: 0.4rem;
    font-size: 0.8rem;
  }
}
