@import "utilities/variables";

.email-badge {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 3vw;
  z-index: 10000;
  writing-mode: vertical-rl;
  .email {
    text-decoration: none;
    color: inherit;
    padding-bottom: 1.3rem;
    &:hover {
      transform: translateY(-0.15rem);
      cursor: pointer;
      color: $dark;
    }
    transition: 0.3s ease all;
  }
  @include breakpoint(md) {
    right: 1vw;
  }
  @include breakpoint(sm) {
    display: none;
  }
  &::after {
    content: "";
    display: block;
    width: 0.05rem;
    height: 6rem;
    margin: 0 auto;
    background-color: $text-color;
  }
  transition: 0.3s ease all;
}
