@import "utilities/variables";
.app{
  height: 100vh;
  overflow: hidden;
  .main{
    width: 100%;
    height: calc(100vh - $nav-height);
    position: relative;
    top: $nav-height;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
    > div{
      width: 80%;
      min-height: calc(100vh - $nav-height);
      height: auto;
      margin: 0 auto;
      padding: 20px;
      scroll-snap-align: start;
    }
  }
}
