@import "utilities/variables";
body {
  margin: 0;
}

.app {
  height: 100vh;
  overflow: hidden;
  background-color: $light;
  color: $text-color;
  z-index: 2;
  .main {
    width: 100%;
    height: calc(100vh - $nav-height);
    position: relative;
    top: $nav-height;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    @include breakpoint(sm) {
      scroll-snap-type: unset;
    }
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    > div {
      display: flex;
      width: 100%;
      min-height: calc(100vh - $nav-height);
      height: auto;
      margin: 0 auto 200px;
      scroll-snap-align: start;
      overflow-x: hidden;
    }
  }
}
