@import "utilities/variables";
.app {
  height: 100vh;
  overflow: hidden;
  .main {
    width: 100%;
    height: calc(100vh - $nav-height);
    position: relative;
    top: $nav-height;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    > div {
      display: flex;
      width: 1080px;
      min-height: calc(100vh - $nav-height);
      height: auto;
      margin: 0 auto;
      scroll-snap-align: start;
      overflow-x: hidden;
    }
  }
}
