$nav-height: 5rem;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$Poppins: "Poppins", sans-serif;

// colors
$dark: #e96269;
$light: #f7f7f7;
$text-color: #111111;
$tile-color: #faf9f6;

//$dark: #D7E8F9;
//$light: #001e3c ;
//$text-color: #f7f7f7;
//$tile-color: #0a1929;

// spacing
$spacing-md: 1rem;
$spacing-lg: 2rem;

// border radius
$borderRadius: 0.75rem;

@mixin breakpoint($point) {
  @if $point == md {
    @media (max-width: 1000px) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $point == mdm {
    @media (max-width: 760px) {
      @content;
    }
  }
}
