@import "utilities/variables.scss";

.hero-container {
  width: 70%;
  margin: 10% auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  @include breakpoint(md) {
    width: 90%;
  }
  @include breakpoint(sm) {
    flex-direction: column;
    margin-top: 20%;
  }
  transition: 0.3s ease all;
  .avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    @include breakpoint(md) {
      height: 150px;
      width: 150px;
    }
    @include breakpoint(sm) {
      margin-bottom: 40px;
    }
  }
  .details {
    padding-left: 40px;
    @include breakpoint(sm) {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      > p {
        margin: 0;
      }
    }
  }
}
.dynamic-background-side {
  display: flex;
  @include breakpoint(md) {
    display: none;
  }
}

.dynamic-background-bottom {
  display: flex;
  @include breakpoint(sm) {
    display: none;
  }
}
