@import "utilities/variables";
.intro-container {
  width: 60%;
  margin: 5% auto auto;
  padding-bottom: 20rem;
  @include breakpoint(sm) {
    width: 80%;
    margin-top: 0;
    padding-bottom: 0;
  }
  transition: 0.3s ease all;
}
.my-tech-container {
  padding-top: 30px;
  .my-tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    > * {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
}
