@import "utilities/variables";
.projects-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 2rem 2rem 20rem;
  @include breakpoint(md) {
    width: 90%;
    padding-right: 0;
    padding-left: 0;
  }
  @include breakpoint(sm) {
    width: 100%;
    align-items: center;
    padding-bottom: 0;
  }
  transition: 0.3s ease all;
  > h1 {
    padding-left: 5%;
    @include breakpoint(sm) {
      padding: 0;
    }
  }
}
